.chone-logo {
  padding-top: 60px;
}

.chone-front {
  font-family: 'Monoton', cursive;
  font-size: 250px;
	position: center;
	display: inline-block;
  padding-left: 60px;
  margin:0;
  text-shadow: 1px 1px #fe4902, 
                2px 2px #fe4902, 
                3px 3px #fe4902;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
}

li a {
    font-family: 'Poiret One', cursive;
    font-style: bold;
    font-size: 25px;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.photo .photo2 {
    display: inline-block;
    weight:400px;
    height:400px;
}

.photo2 {
    float: right;
}

.container {
    position: relative;
    width: 50%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #0000;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.descript {
    position: block;
    clear:right;
}

.container:active {
    color: black;
}

.descript2 {
    position: inline;
}
.container2 {
    position: 
}

p {
  font-family: 'Poiret One', cursive;
}

/* image gallery! */


div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px){
    .chone-responsive {
      font-size: 120px;
    }

    .logo-responsive {
      width: 70px;
      padding-left: 10px;
    }

    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* Blog Page */

 .blog_headline {
  font-family: cursive;
  font-size: 200px;
  text-align: center;
  display: inline-block;
  text-shadow: 1px 1px #fe4902, 
                2px 2px #fe4902, 
                3px 3px #fe4902;
  margin: 0;
  padding-bottom: 10px;
}


.chone-logoblog {
  margin: 0;
  padding: 0;
}
/* portfolio */



